* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    background-color: rgba(0, 255, 255, 0.836);
    height: 6rem;
}

header img {
    width: 200px;
    height: 200px;
    margin-top: -50px;
    margin-left: 50px;
}

header div {
    display: flex;
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;
}

@media (max-width: 860px) {
    header {
        height: 10rem;
    }
    header div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header img {
        width: 120px;
        height: 120px;
        margin-top: 5rem;
        margin-left: 0;
    }
    #nav {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

#nav {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    margin-left: auto;
    margin-bottom: 1.5rem;
}

.links {
    margin-left: 0.8rem;
    text-decoration: none;
    color: black;
    margin-top: 50px;
    margin-right: 50px;
    margin-top: auto;
}

@media (max-width: 860px) {
    .links {
        margin-right: 0;
    }
}

header div nav ul li {
    margin-left: .5rem;
    list-style-type: none;
}

@media (max-width: 860px) {
    #home p {
        display: none;
    }
    #home img {
        width: 300px;
    }
}

#home {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #341E77;
}

#home p {
    font-size: 50px;
    text-align: center;
    color: white;
    font-style: italic;
}

@media (max-width: 860px) {
    #title-performance {
        display: none;
    }
    #performance p {
        text-align: justify;
    }
    #performance p {
        display: flex;
        justify-content: center;
    }
    #performance p img {
        margin: 0 auto;
        width: 300px;
    }
    #compra {
        display: flex;
        color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: start;
    }
    #compra button {
        align-self: start;
    }
    #compra img {
        width: 350px;
    }
    .fabrica {
        width: 350px;
    }
    #nosso-time {
        display: flex;
        color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: start;
    }
    #nosso-time div {
        display: flex;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
    }
    #nosso-time div img {
        width: 110px;
        height: 110px;
    }
}

.produto {
    width: 900px;
}

#performance {
    background-color: rgba(0, 255, 255, 0.836);
    padding: 20px;
}

#performance h3 {
    text-align: center;
    font-size: 50px;
}

#performance p {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.produto2 {
    width: 1000px;
    border-radius: 50px;
}

#compra {
    padding: 1rem 0;
    color: #fff;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #341E77;
}

#compra h2 p {
    font-size: 50px;
    text-align: justify;
    color: white;
    font-style: italic;
}

button {
    margin: 10px auto;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 255, 255, 0.836);
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background-color: rgba(74, 175, 175, 0.836);
}

#quem-somos {
    font-size: 2rem;
    padding: 1rem 0;
    background-color: rgba(0, 255, 255, 0.836);
}

#quem-somos h2 {
    text-align: center;
}

#quem-somos p {
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

.fabrica {
    border-radius: 80px;
}

#nosso-time {
    display: flex;
    color: #fff;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #341E77;
}

#nosso-time div {
    margin-top: 2rem;
}

#nosso-time div img {
    padding: 1rem;
}

.nosso-time {
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

#nosso-time h2 {
    margin-top: 1.2rem
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.836);
}

footer div img {
    height: 50px;
    width: 50px;
    background-color: burlywood;
    margin: 10px;
}

footer p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
}